body
{

margin: auto;
padding: 0;
background: #cdcdcd;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 6px white;

}
button
{
    border-color: #000000;
    border-width: 2px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    width: 50%;
    min-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
    font-size: 40px;
    text-transform: uppercase;
    background-color: white;
    cursor: auto;
}

button:hover{
    
    animation: draaien 10s infinite;
    cursor: pointer;
}
div{
    display: table;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
}
p{
    text-align: center;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes draaien {
    0%    {background-color: white;}
    17%    {background-color: red;}
    34%    {background-color: yellow;}
    51%    {background-color: green;}
    68%    {background-color: blue;}
    85%    {background-color: violet;}
}
